# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
absl-py=2.1.0=pypi_0
addict=2.4.0=pypi_0
aliyun-python-sdk-core=2.15.0=pypi_0
aliyun-python-sdk-kms=2.16.2=pypi_0
attrs=23.2.0=pypi_0
blas=1.0=mkl
bzip2=1.0.8=h5eee18b_6
ca-certificates=2024.7.2=h06a4308_0
cachetools=5.4.0=pypi_0
certifi=2024.2.2=pypi_0
cffi=1.16.0=pypi_0
charset-normalizer=2.1.1=pypi_0
click=8.1.7=pypi_0
colorama=0.4.6=pypi_0
coloredlogs=15.0.1=pypi_0
contourpy=1.1.1=pypi_0
crcmod=1.7=pypi_0
cryptography=42.0.5=pypi_0
cuda-cudart=11.8.89=0
cuda-cudart_linux-64=12.4.127=hd681fbe_0
cuda-cupti=11.8.87=0
cuda-libraries=11.8.0=0
cuda-nvrtc=11.8.89=0
cuda-nvtx=11.8.86=0
cuda-opencl=12.4.127=h6a678d5_0
cuda-runtime=11.8.0=0
cuda-version=12.4=hbda6634_3
cycler=0.12.1=pypi_0
entrypoints=0.4=pypi_0
ffmpeg=4.3=hf484d3e_0
flatbuffers=24.3.25=pypi_0
fonttools=4.53.1=pypi_0
freetype=2.12.1=h4a9f257_0
fsspec=2024.3.1=pypi_0
gmp=6.2.1=h295c915_3
gnutls=3.6.15=he1e5248_0
google-auth=2.33.0=pypi_0
google-auth-oauthlib=1.0.0=pypi_0
grpcio=1.65.4=pypi_0
httpcore=1.0.5=pypi_0
httpx=0.27.0=pypi_0
huggingface-hub=0.22.1=pypi_0
humanfriendly=10.0=pypi_0
idna=3.6=pypi_0
imageio=2.34.2=pypi_0
importlib-metadata=7.1.0=pypi_0
importlib-resources=6.4.0=pypi_0
intel-openmp=2023.1.0=hdb19cb5_46306
jinja2=3.1.3=pypi_0
jmespath=0.10.0=pypi_0
joblib=1.4.2=pypi_0
jpeg=9e=h5eee18b_2
jsonschema=4.21.1=pypi_0
jsonschema-specifications=2023.12.1=pypi_0
kaleido=0.2.1=pypi_0
kiwisolver=1.4.5=pypi_0
lame=3.100=h7b6447c_0
lcms2=2.12=h3be6417_0
ld_impl_linux-64=2.38=h1181459_1
lerc=3.0=h295c915_0
libcublas=11.11.3.6=0
libcufft=10.9.0.58=0
libcufile=1.9.1.3=h99ab3db_1
libcurand=10.3.5.147=h99ab3db_1
libcusolver=11.4.1.48=0
libcusparse=11.7.5.86=0
libdeflate=1.17=h5eee18b_1
libffi=3.4.4=h6a678d5_1
libgcc-ng=11.2.0=h1234567_1
libgomp=11.2.0=h1234567_1
libiconv=1.16=h5eee18b_3
libidn2=2.3.4=h5eee18b_0
libjpeg-turbo=2.0.0=h9bf148f_0
libnpp=11.8.0.86=0
libnvfatbin=12.4.127=h7934f7d_2
libnvjitlink=12.4.99=0
libnvjpeg=11.9.0.86=0
libpng=1.6.39=h5eee18b_0
libstdcxx-ng=11.2.0=h1234567_1
libtasn1=4.19.0=h5eee18b_0
libtiff=4.5.1=h6a678d5_0
libunistring=0.9.10=h27cfd23_0
libwebp-base=1.3.2=h5eee18b_0
llvm-openmp=14.0.6=h9e868ea_0
llvmlite=0.41.1=pypi_0
lz4-c=1.9.4=h6a678d5_1
markdown=3.6=pypi_0
markdown-it-py=3.0.0=pypi_0
markupsafe=2.1.5=pypi_0
matplotlib=3.7.5=pypi_0
mdit-py-plugins=0.4.0=pypi_0
mkl=2023.1.0=h213fc3f_46344
mmcv=2.1.0=dev_0
mmdet=3.3.0=dev_0
mmengine=0.10.3=pypi_0
model-index=0.1.11=pypi_0
mpc=1.1.0=h10f8cd9_1
mpfr=4.0.2=hb69a4c5_1
mpmath=1.3.0=py38h06a4308_0
ncurses=6.4=h6a678d5_0
nettle=3.7.3=hbbd107a_1
networkx=3.1=py38h06a4308_0
numba=0.58.1=pypi_0
numpy=1.24.4=pypi_0
nvidia-cublas-cu11=11.11.3.6=pypi_0
nvidia-cuda-cupti-cu11=11.8.87=pypi_0
nvidia-cuda-nvrtc-cu11=11.8.89=pypi_0
nvidia-cuda-runtime-cu11=11.8.89=pypi_0
nvidia-cudnn-cu11=8.7.0.84=pypi_0
nvidia-cufft-cu11=10.9.0.58=pypi_0
nvidia-curand-cu11=10.3.0.86=pypi_0
nvidia-cusolver-cu11=11.4.1.48=pypi_0
nvidia-cusparse-cu11=11.7.5.86=pypi_0
nvidia-nccl-cu11=2.19.3=pypi_0
nvidia-nvtx-cu11=11.8.86=pypi_0
oauthlib=3.2.2=pypi_0
ocl-icd=2.3.2=h5eee18b_1
onnxruntime=1.18.1=pypi_0
opencv-python=4.10.0.84=pypi_0
opencv-python-headless=4.10.0.84=pypi_0
opendatalab=0.0.10=pypi_0
openh264=2.1.1=h4ff587b_0
openjpeg=2.4.0=h9ca470c_2
openmim=0.3.9=pypi_0
openssl=3.0.14=h5eee18b_0
openxlab=0.0.37=pypi_0
ordered-set=4.1.0=pypi_0
oss2=2.17.0=pypi_0
packaging=24.0=pypi_0
pandas=2.0.3=pypi_0
pillow=9.0.1=pypi_0
pip=23.3.1=pypi_0
pkgutil-resolve-name=1.3.10=pypi_0
platformdirs=4.2.0=pypi_0
plotly=5.23.0=pypi_0
pooch=1.8.2=pypi_0
protobuf=5.27.3=pypi_0
pyasn1=0.6.0=pypi_0
pyasn1-modules=0.4.0=pypi_0
pycocotools=2.0.7=pypi_0
pycparser=2.21=pypi_0
pygments=2.17.2=pypi_0
pymatting=1.1.12=pypi_0
pyparsing=3.1.2=pypi_0
python=3.8.19=h955ad1f_0
python-dateutil=2.9.0.post0=pypi_0
pytorch-cuda=11.8=h7e8668a_5
pytorch-metric-learning=2.5.0=pypi_0
pytorch-mutex=1.0=cuda
pytz=2023.4=pypi_0
pywavelets=1.4.1=pypi_0
pyyaml=6.0.1=py38h5eee18b_0
readline=8.2=h5eee18b_0
referencing=0.34.0=pypi_0
rembg=2.0.58=pypi_0
requests=2.28.2=pypi_0
requests-oauthlib=2.0.0=pypi_0
rich=13.4.2=pypi_0
rpds-py=0.18.0=pypi_0
rsa=4.9=pypi_0
safetensors=0.4.2=pypi_0
scikit-image=0.19.3=pypi_0
scikit-learn=1.3.2=pypi_0
scipy=1.10.1=pypi_0
setuptools=60.2.0=pypi_0
shapely=2.0.3=pypi_0
six=1.16.0=pypi_0
sqlite=3.45.3=h5eee18b_0
sympy=1.12=py38h06a4308_0
tabulate=0.9.0=pypi_0
tbb=2021.8.0=hdb19cb5_0
tenacity=9.0.0=pypi_0
tensorboard=2.14.0=pypi_0
tensorboard-data-server=0.7.2=pypi_0
termcolor=2.4.0=pypi_0
terminaltables=3.1.10=pypi_0
threadpoolctl=3.5.0=pypi_0
tifffile=2023.7.10=pypi_0
timm=0.5.0=dev_0
tk=8.6.14=h39e8969_0
tomli=2.0.1=pypi_0
torch=2.2.2+cu118=pypi_0
torchaudio=2.2.2+cu118=pypi_0
torchvision=0.17.2+cu118=pypi_0
tqdm=4.66.5=pypi_0
triton=2.2.0=pypi_0
typing-extensions=4.10.0=pypi_0
tzdata=2024.1=pypi_0
urllib3=1.26.18=pypi_0
werkzeug=3.0.3=pypi_0
wheel=0.41.2=pypi_0
xz=5.4.6=h5eee18b_1
yaml=0.2.5=h7b6447c_0
yapf=0.40.2=pypi_0
zipp=3.18.1=pypi_0
zlib=1.2.13=h5eee18b_1
zstd=1.5.5=hc292b87_2
